* {
    margin: 0px;
    padding: 0px;
}

/* fonts css */


.noto-serif-bold {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.inter-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.inter-semiBold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.inter-medium {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* nav CSS */
body {
    background-color: #F5F8FF;
}

.cart-icon {
    border: 1px black solid;
    color: white;
}

nav {
    width: 1140px;
    margin: 20px auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.navLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;

}

.navLinks a {
    text-decoration: none;
    color: #8987A1;
}

#active {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.mobile-navbar {
    display: none;
}

@media screen and (max-width: 480px) {
    nav {
        width: 360px;
    }

    nav img {
        width: 60px;
    }

    .dextop-navbar {
        display: none;
    }

    .mobile-navbar {
        display: inline-block;
    }

    #active img {
        width: 24px;
        height: 24px;
    }

    #active {
        font-size: 16px;
    }
}


/* Hero Section CSS */

.hero-section {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 1140px;
    margin: auto;
    margin-bottom: 120px;
    padding-top: 180px;
}

.orange {
    color: #E95A08;
}

.hero-section>div>h1 {
    font-size: 62px;
}

.hero-section>div>p {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.486);
}

@media screen and (max-width: 480px) {
    .hero-section {
        flex-direction: column-reverse;
        width: 100%;
        gap: 28px;
        padding-top: 30px;
        margin-bottom: 60px;
    }

    .hero-section>div>h1 {
        font-size: 24px;
        margin-bottom: 13px;
    }

    .hero-section>div>p {
        font-size: 14px;
    }

    .hero-section img {
        width: 100%;
    }
}

/* shop css */


.shop-header {
    text-align: center;
    margin-bottom: 50px;
}

.shop-header>h2 {
    font-size: 50px;
}

.shop-header>p {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.514);
}

.card-div {
    width: 1140px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.card {
    width: 270px;
    height: 500px;
    text-align: center;
    font-size: 22px;
}

.card img {
    margin-bottom: 30px;
}

.card-div button {
    width: 100%;
    padding: 10px 50px;
    color: white;
    border: none;
    background-color: #E95A08;
    font-size: 16px;
    margin-top: 30px;
}

@media screen and (max-width: 480px) {
    .card-div {
        max-width: 380px;
        margin: auto;

        justify-content: center;
    }

    .card {
        width: 170px;
        height: 340px;
        margin-bottom: 25px;
        font-size: 16px;
    }

    .card img {
        width: 170px;
    }

    .card-div button {
        padding: 10px 25px;

    }

    .shop-header>h2 {
        font-size: 24px;
    }

    .shop-header>p {
        font-size: 14px;
    }
}

/* plant Sectoion css */


.plant-section {
    width: 1140px;
    margin: auto;
    margin-top: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.plant-img {
    position: relative;
}

.plant-img .flower-store {
    width: 540px;
}

.plant-text {
    width: 540px;
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 20px;
}

.plant-text h2 {
    font-size: 50px;
}

.plant-text ul {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.507);
}

.plant-text ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 20px;
}

.trusted-badge {
    width: 280px;
    position: absolute;
    top: -20%;
    right: -20%;
    animation: rotation 5s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 480px) {
    .plant-section {
        width: 100%;
        margin-top: 30px;
        flex-direction: column;
        justify-content: center;
        align-items: left;
    }

    .break {
        display: none;
    }

    .plant-img .flower-store {
        width: 360px;
    }

    .plant-text {
        width: 360px;
        height: auto;

    }

    .plant-text h2 {
        font-size: 24px;

    }

    .plant-text ul {
        font-size: 14px;
        width: 320px;
        margin: auto;
    }

    .plant-text ul {
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: left;
        gap: 20px;
    }

    .trusted-badge {
        display: none;
    }

}

/* latest deal css */


.latest-deal-header {
    text-align: center;
    margin: 130px 0px;
}

.latest-deal-header h2 {
    font-size: 50px;
}

.latest-deal-header p {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.514);
    
}

.latest-img-div {
    width: 1140px;
    margin:  auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.latest-img-div>div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    gap: 20px;
}

.latest-img-div img {
    border: none;
    border-radius: 20px;
}

.latest-img-div>div>div {
    position: relative;
}

.second-img-container {
    position: relative;
}

.overlay {
    width: 100%;
    height: 98%;
    background-color: rgba(0, 0, 0, 0.514);
    position: absolute;
    top: 0;
    left: 0;

    border-radius: 20px;
}

.overlay2 {
    width: 100%;
    height: 99%;
    background-color: rgba(0, 0, 0, 0.514);
    position: absolute;
    top: 0%;
    left: 0;
    border-radius: 20px;
}

.img-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;

}

.img-details h2 {
    font-size: 22px;
}
.img-details a {
    color: white;
    font-size: 16px;
}
.second-img-container .img-details h2 {
    font-size: 40px;
}
.second-img-container .img-details a {
    font-size: 28px;
}

@media screen and (max-width: 480px){
    .latest-img-div{
        flex-direction: column;
        width: 100%;
    }
    .second-img-container img{
        width: 100%;
        
    }
    .second-img-container > div{
        width: 367px;
    }
    .overlay2 {
    height: 98%;
    }
    .second-img-container .img-details h2 {
    font-size: 20px;
    }
    .second-img-container .img-details a {
        font-size: 16px;
    }
    .latest-deal-header h2 {
    font-size: 20px;
    }

    .latest-deal-header p {
        font-size: 14px;
        padding: 0px 20px;
    }
    .latest-deal-header {
    
    margin: 100px 0px 50px 0px;
    }
}

/* email section */
.email-section{
    margin-top: 120px;
    width: 100%;
    background-image: url('./assets/news-letter-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.email-section h2{
 font-size: 50px;
 color: white;
}
.input-field {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
}
.input-field input{
    width: 30%;
    padding: 15px 10px;
    border: none;
}
.input-field button{
    padding: 15px 60px;
    background-color: #E95A08;
    color: white;
    border: none;
}

@media screen and (max-width: 480px){
    .email-section h2{
    font-size: 20px;
    }
    .input-field input{
    width: 50%;
    padding: 15px 10px;
    
    }
    .input-field button{
        padding: 15px 10px;          
    }
    .email-section{
        background-position:bottom ;
        height: 40vh;
    }
}
